
body {

    overflow-y:hidden;

}

.button {

    font-size:calc(8px + 1vw);
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin:0px;

}

#main {

    margin-left:auto;
    margin-right:auto;

}

#screen {

    width:83vw;
    height:99vh;
    border:2px solid rgb(192, 192, 192);
    display:block;
    position:absolute;
    right:1vw;
    overflow-y:scroll;
    font-size:0.8vw;

}

#display {

    border:2px solid rgb(192, 192, 192);
    position:absolute;
    width:calc(100% - 8px);
    height:20vh;
    bottom:2px;
    left:2px;
    right:2px;

}

#toolbar {

    width:14vw;
    height:99vh;
    border:2px solid rgb(192, 192, 192);
    display:block;
    position:absolute;
    left:1vw;
    text-align:center;

}